.admin-page {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 80vw;
    margin: 0 auto;
    margin-top: 75px;
}

h2 {
    font-size: 3rem;
}

a {
    font-size: 2rem;
}

.liste {
    display: flex;
    flex-direction: column;
}

.liste > a {
    margin-top: 10px;
}