main {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#editor {
    height: 65vh;
}

.title {
    display: flex;
}

.submit {
    margin-top: 3vh;
    width: 8vw;
    height: 5vh;
    font-size: 1.5rem;
    border: solid 1px rgb(195, 195, 195);
    background-color: var(--green);
    color: var(--white);
    border-radius: 0.3em;
    font-weight: bold;
    letter-spacing: 0.01rem;
}

.title + .image {
    width: 100%;
    display: flex;
    align-content: center;
}

.title > p  {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark);
}

.image > p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark);
}

.title > input {
    margin-left: 1vw;
    width: 80%;
    height: 3vh;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(195, 195, 195);
}

.image > input {
    margin-left: 1vw;
    width: 80%;
    height: 3vh;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(195, 195, 195);;
}