/* ===== Début Main ===== */
main {
    min-height: 496px;

    margin-left: 120px;
    margin-right: 120px;
}

main > h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 60px;
}

main > h3 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

main > p {
    text-align: justify;
    font-size: 18px;
}

main .author {
    text-align: end;
    margin-top: 100px;
}
/* ===== Fin Main ===== */