:root {
    --light: #F1F2EE;
    --dark : #2C363F;
    --green: #28A800;
    --gray: #dddddd;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body{
    background-color: var(--gray);
    color : var(--dark);
    text-align: center;
    margin-bottom: 200px;
}

.navbar{
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    border-radius: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    height: 8vh;
}

.left {
    grid-column: 1;
    float: left;
    justify-self: left;
    display: flex;
    align-items: flex-end;
}

.left > a {
    margin: 0 2vw 0 1vw;
}

.right {
    grid-column: 2;
    display: flex;
    justify-self: right;
    align-items: center;
}

.right > .coins {
    margin-right: 2vw;
}

.right > .account {
    margin-right: 2vw;
}

.logo-navbar{
    width: 50px;
    height: 50px;
}

.account > img {
    width: 50px;
    height: 50px;
}

.coins {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
}

.coins > * {
    margin: 0 .5vw 0 .5vw;
}

.img-coin {
    width: 25px;
    height: auto;
}

.coin-text {
    color: white;
    font-size: 1.4rem;
    line-height: 2vh;
}

.internking {
    line-height: 100%;
    font-size: 4em;
    font-family: 'Righteous', cursive;
    color: var(--light);
}

.internking > span {
    color: var(--green);
}

.account {
    position: relative;
    display: inline-block;
    display: grid;
    grid-template-rows: 50% 50%;
}

.account > img {
    grid-row: 1;
}

.droplist {
    display: none;
    grid-row: 2;
    position: absolute;
    width: 10vw;
    left: -5vw;    
}

.list-elem {
    list-style: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.list-elem:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.list-elem > a {
    color: white;
    font-size: 1.3rem;

}

.account {
    position: relative;
}

.account:hover .droplist{
    display: block;
}

.page-footer{
    background-color: var(--dark);
    color : var(--light);
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
}

.page-footer input{
    background-color: var(--light);
    border: none;
    color: var(--dark);
}

.back {
    width: 5vw;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.3rem;
    background-color: var(--dark);
    color: var(--white);
    float :left;
    margin: 30px;
    border-radius: 20px;
}

.page {
    margin: 20px;
    font-size: 1.3rem;
}