body > h2{
	font-size: 2.5rem;
	margin-top: 20px;
}

.left-list, .right-list {
	width: 40%;
	margin-top: 5rem;
}

.left-list > h2, .right-list > h2 {
	text-align: left;
	font-weight: bold;
}

.left-list {
	margin-left: 5%;
	margin-bottom: 200px;
}

.right-list {
	margin-right: 5%;
}

.container .blacklist-button, .container .infos-button {
	font-size: 1.5rem;
}

.container .nom-entreprise {
	font-size: 1.75rem;
}

#popup-entreprise {
	visibility: hidden;
	text-align: left;
	font-size: 1.5rem;
	padding: 15px;
	background-color: rgb(34, 34, 34);
	color: #F1F2EE;
	border: solid 2px #F1F2EE;
	height: 300px;
	width: 500px;
	position: absolute;
	top: 300px;
	left: 675px;
	z-index: 10;
}

#popup-entreprise > h1, h3 {
	margin-top: 20px;
}

.close-popup-button {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 1.5rem;
}