main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.titre-compte {
    font-size: 4rem;
}

.photo-profil {
    height: 8rem;
    width: 8rem;
}

.champs-informations {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
}

.champs-informations input[type=text], .champs-informations input[type=number], .champs-informations input[list] {
    font-size: 1.5rem;
    background-color: var(--light);
    color: var(--dark);
    box-shadow: 1px 1px 2px var(--dark);
    border: none;
}

.champs-informations td {
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.champs-informations table .col1 {
    text-align: end;
    width: 15rem;
}

.champs-informations .table1 .col2 input {
    width: 40rem;
}

.champs-informations .table2 .col3 {
    padding-left: 1rem;
}

.champs-informations .table2 .col3 .nom {
    width: 23.7rem;
}

.champs-informations .table2 .col3 .cp {
    width: 18.9rem;
}

.champs-informations .table3 .col2 input {
    width: 50rem;
}

.champs-informations .modif-mdp, .champs-informations .enregistrer-modifications {
    background-color: var(--green);
    color: var(--light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px var(--dark);
}

.champs-informations .enregistrer-modifications {
    align-self: flex-end;
    margin-right: 1rem;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    width: 10 rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    width: 20rem;
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }

  .dropdown-check-list ul.items input {
    float: left;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

  #list1 {
    width: 20rem;
  }