@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

:root {
    --light: #F1F2EE;
    --dark : #06324e;
    --green: #28A800;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(var(--dark) 6%, var(--light) 100%)
}

header {
    height: 85vh;
    width: 100%;
}

.content-header {
    position : absolute;
    top: 0;
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: inherit;
}

.white-text {
    color: var(--light);
}

.green-text {
    color: var(--green);
}


header .upper-header {
    color: var(--dark);
    grid-row: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    background-color: var(--dark);
    height: 80px;
}

header .upper-header .links {
    justify-self: right;
    margin-right: 2vw;
}

.header-title {
    font-family: 'Righteous', cursive;
    margin: 0;
}

.header-btn {
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 20px;
    margin: 0.5vw;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.15rem;
}

header .upper-header .links .signin {
    background-color: var(--dark);
    color: var(--light);
}

header .upper-header .links .signup {
    background-color: var(--green);
    color: var(--light);
}

header .upper-header h1 {
    text-align: center;
    font-size: 3.5rem;
}

header .upper-header img {
    width: 70px;
    height: 70px;
    margin-left: 2rem;
}

header .bottom-header {
    display: block;
    margin: 0 auto;
}


header .bottom-header form {
    display: flex;
    width: 80vmin;
    margin: 0 auto;
    flex-direction: column;
}

header .bottom-header h2 {
    text-align: center;
    margin: 5px 0 60px 0;
    font-size : 40px;
    color: var(--light);
}

header .bottom-header .input-container {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    height: 50px;
}

header .bottom-header input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    background-color: var(--light);
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.541);
}

header .bottom-header button {
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 30px;
    background-color: var(--green);
    color: var(--light);
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(34, 34, 34, 0.541);
}

.blog-title {
    width: 100%;
    padding: 2px 0 2px 0;
    font-size: 1.9rem;
    color: var(--light);
    margin: 0;
    text-align: center;
}

.blog-contents {
    margin: 0 5px 10px 5px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 10vmin;
    vertical-align: center;
}

.slider-container {
    max-width: 60vmax;
    overflow: hidden;
}

.slider {
    user-select: none;
    white-space: nowrap;
    max-width: 60vmax;
    animation: slider;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-text {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 2rem;
    color: var(--light);
}

@keyframes slider {
    0% {
        transform: translateX(0vmax);
    }
    33% {
        transform: translateX(-60vmax);
    }
    66% {
        transform: translateX(-120vmax);
    }
    99% {
        transform: translateX(0vmax);
    }
}

.blog-title {
    width: 100%;
    padding: 2px 0 2px 0;
    font-size: 1.9rem;
    color: var(--light);
    margin: 0;
    text-align: center;
}

.article {
    margin: 5px 15px 0px 5px;
    width: 30%;
    height: 300px;
    display: grid;
    grid-template-rows: 80% 20%;
    row-gap: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.article > img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.article-title {
    margin:0;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--dark);
    white-space: normal;
    text-align: center;
    line-height: 100%;
    align-self: center;
}

.page-footer{
    background-color: var(--dark);
    color : var(--light);
    font-size: 0.8em;
    width: 100%;
    height: 130px;
    text-align: center;
}

.container-fluid{
    display: flex;
}

.newsletter{
    text-align: left;
    margin-left: 15px;
    margin-right: 25%;
}

.a-propos{
    margin-right: 25%;
}

.page-footer input{
    background-color: var(--light);
    border: none;
}