.search-bar {
    margin-top: 40px;
    margin-bottom: 1.5%;
    width: 85.5%;
    height: 40px;
    display: flex;
    margin-left: 6.5%;
    font-size: 2em;
}

.loupe {
    height: 40px;
    width: 4vx;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 0.8%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--light);
    color: var(--dark)
}

.croix {
    width: 4%;
    height: 40px;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-right: 0.6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    background-color: var(--light);
    font-size: 1.2em;
    color: var(--dark)
}

.croix:hover {
    background-color: #dd0000;
    color: var(--light);
}

.search-bar > input[type=text] {
	background-color: var(--light);
    border: none;
    border-right: solid 1px var(--dark);
	width: 50%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 1%;
	font-weight: 500;
}

.nb-resultats {
    font-size: 2em;
}

.search-filter {
    width: 85.5%;
    display: flex;
    justify-content: space-around;
    margin-left: 6.5%;
}

.filter {
    display: flex;
    background-color: var(--light);
    padding-right: 1.8%;
    padding-left: 1.8%;
    border-radius: 20px;
    font-size: 1.4em;
    border: none;
    align-items: center;
    vertical-align: middle;
    box-shadow: 1px 1px 3px var(--dark);
}

.filter > a{
    height: 20px;
}

.filter > a > p{
    color: var(--dark);
    vertical-align: middle;
}
  
.filter-items {
    padding-top: 2%;
}

.nb-resultats {
    margin-top: 2%;
    margin-bottom: 1%;
}

.liste-entreprise {
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    row-gap: 15px;
    column-gap: 25px;
    justify-content: center;
}

.entreprise {
    display: inline-block;
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    box-shadow: 1px 1px 2px var(--dark);
    height: 25vh;
}

.entreprise .etoile {
    height: 4vh;
}


.entreprise .preview{
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 1.5em;
}

.entreprise .preview h3{
    font-size: 1.5em;
}

.entreprise .details{
    margin-top: 1vh;
    display: none;
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    row-gap: 5px;   
    column-gap: 7px;
    font-size: 1.2em;
}

.entreprise .details h3{
    font-size: 1.5em;
}

.entreprise:hover .details {
    display: grid;
}

.entreprise:hover .preview {
    display: none;
}

.etoile{
    margin-left: 80%;
}

.page-buttons{
    display: flex;
    flex-direction: row;
    width: 50rem;
    margin: 0 auto;
}

.page-button{
    background-color: var(--light);
    color: var(--dark);
    font-size: 2em;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    margin: 0 1vx 0 1vx;
    padding: 1rem;
    border: solid var(--dark) 1px;
    border-radius: 1rem;
}

.page-button:hover{
    background-color: var(--dark);
    color: var(--light);
    border: none;
}

.page-button-active{
    background-color: rgb(185, 182, 182);
    color: var(--dark);
    font-size: 2em;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    margin: 0 1vx 0 1vx;
    padding: 1rem;
    border: solid var(--dark) 1px;
    border-radius: 1rem;
}