body > h2{
	font-size: 2.3em;
}

body > h3{
	font-size: 1.7em;
    font-weight: lighter;
}

.champs-inscription{
    width: 50%;
    position: relative;
    left: 25%;
    display: flex;
    flex-direction: column;
}

.champs-inscription input[type=number], .champs-inscription input[type=email], .champs-inscription input[type=text], .champs-inscription input[type=password], .champs-inscription input[list], .champs-inscription select{
	background-color: var(--gray);
	border: none;
	border-bottom: solid var(--dark) 0.1em;
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: 500;
	height: 30px;
	color: var(--dark);
}

.nbRue, .nbVille{
	width: 18%;
	margin-right: 2%;
}

.nomRue{
	width: 79%;
}

.nomVille{
	width: 45%;
	margin-right: 2%;
}

.pays{
	width: 32%;
	position: relative;
}

.logos-inscription{
	position: relative;
	left: 50%;
	width: 110px;
	transform: translate(-55px);
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.logos-inscription > img{
	width: 35px;
	height : 35px;
	filter: drop-shadow(1px 1px 3px var(--dark));
}

.LogoGoogle{
	margin-right: 25px;
}

.buttonInscription{
	font-family: roboto;
	font-weight: 700;
	font-size: 1.8em;
	border: none;
	border-radius: 0.2em;
	width: 130px;
	height: 30px;
	margin-bottom: 5px;
    background-color: #13D00E;
	color: #F1F6F9;
    position: relative;
    margin-left: 50%;
    transform: translate(-65px);
	box-shadow: 1px 1px 5px var(--dark);
}



.champs-informations .enregistrer-modifications {
    align-self: flex-end;
    margin-right: 1rem;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    width: 10 rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    width: 30rem;
    padding: 2px;
	font-size: 1.5rem;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }

  .dropdown-check-list ul.items input {
	float: left;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

  .preferences {
	  font-size: 1.5rem;
	  width: 30rem;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
  }