body > h2{
	font-size: 2.3em;
	margin-bottom: 20px;
}

.logos-connection{
	position: relative;
	left: 50%;
	width: 110px;
	transform: translate(-55px);
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.logos-connection > img{
	width: 35px;
	height : 35px;
	filter: drop-shadow(1px 1px 3px var(--dark));
}

.LogoGoogle{
	margin-right: 40px;
}

.connection input[type=text], .connection input[type=password]{
	background-color: var(--light);
	border: 0;
	border-bottom: solid white 0.1em;
	margin-bottom: 20px;
	width: 30%;
	font-size: 1.5em;
	font-weight: 500;
	color : var(--dark);
	border-radius: 5px;
	box-shadow: 1px 1px 5px var(--dark);
}

.connection input[type=submit], .inscription input[type=submit]{
	font-family: roboto;
	font-weight: 700;
	font-size: 1.8em;
	border: 0;
	border-radius: 0.2em;
	width: 130px;
	height: 30px;
	margin-bottom: 5px;
	box-shadow: 1px 1px 5px var(--dark);
}

.buttonConnexion{
	background-color: var(--light);
	color: var(--dark);
}

.buttonInscription{
	background-color: var(--green);
	color: var(--light);
}

.MdpOublie{
	color: #0E6FD0;
	font-size: 1.2em;
}

hr{
	width: 30%;
	border-color: #F1F6F9;
}