{% include 'base.html' %}

{% block main %}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

<a class="back" href="{{ url_for('admin') }}">Retour</a>
<main>
        <div class="title">
                <p>Titre de l'article : </p>
                <input type="text" id="title">
        </div>
        <div class="image">
                <p>Lien de l'image : </p>
                <input type="text" id="image">
        </div>
        <div id="toolbar"></div>
        <div id="editor"></div>
        <button class="submit" onclick="publish()">Publier l'article</button>
</main>

<script>
        var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', true, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, true] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
        ];

        var options = {
                debug: 'info',
                modules: {
                        toolbar: toolbarOptions
                },
                placeholder: 'Rédigez votre article ici...',
                theme: 'snow'
        };
        var editor = new Quill('#editor', options);

        function publish(){
                var myEditor = document.querySelector('#editor')
                var html = myEditor.children[0].innerHTML
                var title = document.getElementById("title").value
                var image = document.getElementById("image").value

                fetch("/ajouter/article?titre=" + title + "&html=" + html + "&image=" + image)
        }
</script>

{% endblock %}