{% include 'base.html' %}

{% block main %}

<a class="back" href="{{ url_for('admin') }}">Retour</a>

<div id="left-list" class="left-list container pull-left">
	<h2>Liste des utilisateurs</h2>
	<ul class="list-group">
		{% for e in liste_users %}
		<li class="list-group-item">
			<span class="nom-entreprise pull-left">{{ e.email }}</span>
			<div class="pull-right">
				<form action="/ajouter/admin/{{ e.id }}" method="post">
					<button class="blacklist-button btn btn-secondary">Ajouter dans les administrateurs</button>
				</form>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="right-list container pull-right">
	<h2>Liste des administrateurs</h2>
	<ul class="list-group">
		{% for a in admins %}
			{% if a.id != user_id %}
				<li class="list-group-item">
					<span class="nom-entreprise pull-left">{{ a.email }}</span>
					<div class="pull-right">
						<form action="/ajouter/admin/{{ a.id }}" method="post">
							<button class="blacklist-button btn btn-secondary">Retirer des administrateurs</button>
						</form>
					</div>
				</li>
				{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}