{% include 'base.html' %}

{% block main %}
<div class="admin-page">

    <div class="admin liste">
        <h2>Gestion des administrateurs</h2>
        <a href="{{ url_for('add_admin') }}">Ajouter un admin</a>
    </div>

    <div class="entreprises liste">
        <h2>Gestion des entreprises</h2>
        <a href="{{ url_for('blacklist') }}">Gérer les entreprises</a>
    </div>
    

    <div class="gestion-articles liste">
        <h2>Gestion des articles</h2>
        <a href="{{ url_for('rediger_article') }}">Ecrire un article</a>
        <a href="{{ url_for('gerer_articles') }}">Gérer les articles</a>
    </div>
</div>
{% endblock %}