{% extends "bootstrap/base.html" %}


{% block title %}
Internking
{% endblock %}


{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/' + cssfile + '.css') }}" type="text/css" />
{% endblock %}


{% block navbar %}
<div class="navbar">
    <div class="left">
        <a href="/">
            <img class="logo-navbar" src="{{ url_for('static', filename='imgs/logo.png') }}" alt=""/>
        </a>
        <h1 class="internking">
            Intern<span>King</span>
        </h1>
    </div>
    <div class="right">
        {% if connected %}
        <div class="account">
            <img src="{{ url_for('static', filename='imgs/compte.png') }}">
            <ul class="droplist"> 
                <li class="list-elem"><a href="{{ url_for('compte') }}">Compte</a></li>
                {% if is_admin %}
                <li class="list-elem"><a href="{{ url_for('admin') }}">Administration</a></li>
                {% endif %}
                <li class="list-elem"><a href="{{ url_for('disconnect') }}">Se déconnecter</a></li>
            </ul>
        </div>
    {% endif %}
    </div>
</div>


<footer class="page-footer py-4">
    <div class="container-fluid text-center text-md-left row">
        <div class="newsletter col-md-6 mt-md-0 mt-3">
            <h2>Newsletter</h2>
            <p>Vous voulez être au courant de ce que nous faisons ?
                <br>Inscrivez-vous et rejoignez notre communauté !</p>
            <form class="inscription-newsletter">
                <input type="text" name="email-newsletter" placeholder="Adresse email"/>
                <input type="submit" value="S'abonner"/>
            </form>
        </div>
        <div class="a-propos col-md-4 mb-md-0 mb-4">
            <h2>A propos</h2>
            <a><p>Notre équipe</p></a>
        </div>
        <div class="mentions-legales">
            <h2>Mentions légales</h2>
            <a><p>Conditions générales d'utilisation</p></a>
        </div>
    </div>
</footer>
{% endblock %} 

{% block content %}
{% block main %}{% endblock %}
{% endblock %}

{% block scripts %}
{% endblock %}