{% include 'base.html' %}

{% block main %}

<a class="back" href="{{ url_for('admin') }}">Retour</a>

<div id="left-list" class="left-list container pull-left">
	<h2>Liste complète des entreprises</h2>
	<ul class="list-group">
		{% for e in liste_entreprises %}
		<li class="list-group-item">
			<span class="nom-entreprise pull-left">{{ e.nom }}</span>
			<div class="pull-right">
				<form action="/gerer/entreprises/{{ e.id }}" method="post">
					<button class="blacklist-button btn btn-secondary">Ajouter dans la liste noire</button>
				</form>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="right-list container pull-right">
	<h2>Liste des entreprises dans la liste noire</h2>
	<ul class="list-group">
		{% for e in blacklist %}
		<li class="list-group-item">
			<span class="nom-entreprise pull-left">{{ e.nom }}</span>
			<div class="pull-right">
				<form action="/gerer/entreprises/{{ e.id }}" method="post">
					<button class="blacklist-button btn btn-secondary">Retirer de la liste noire</button>
				</form>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}
