{% include 'base.html' %}

{% block main %}
<main>
    <h1 class="titre-compte">Mon compte</h1>
    <img class="photo-profil" src="{{ url_for('static', filename='imgs/user_black.png') }}" alt="Photo de profil">

    <form method="POST" action="/compte/edit" class="champs-informations">
        <table class="table1">
            <tr>
                <td class="col1">Adresse e-mail :</td>
                <td class="col2"><input type="text" name="email" value="{{ user.email }}"/></td>
            </tr>
            <tr>
                <td class="col1"></td>
                <td class="col2"><button class="modif-mdp">Modifier le mot de passe</button></td>
            </tr>
        </table>

        <table class="table2">
            <tr>
                <td class="col1"><label for="prenom">Prénom :</label></td>
                <td class="col2"><input type="text" name="prenom" value="{{ user.prenom }}"/></td>
                <td class="col3"><label for="nom">Nom : </label><input class="nom" type="text" name="nom" value="{{ user.nom }}"/></td>
            </tr>
            <tr>
                <td class="col1"><label for="ville">Ville :</label></td>
                <td class="col2"><input type="text" name="adresse.ville" value="{{ user.adresse.ville }}"/></td>
                <td class="col3"><label for="cp">Code postal : </label><input class="cp" type="number" name="adresse.code" value="{{ user.adresse.code}}"/></td>
            </tr>
        </table>

        <table class="table3">
            <tr>
                <td class="col1"><label for="adresse">Nom voie :</label></td>
                <td class="col2"><input type="text" name="adresse.voie" value="{{ user.adresse.voie }}"/></td>
            </tr>
        </table>
        
        <table class="table4">
            <tr>
                <td class="col1"><label for="preferences">Préférences :</label></td>
                <td class="col2">
                    <div id="list1" class="dropdown-check-list" tabindex="100">
                        <span class="anchor">Sélectionnez des préférences</span>
                            <ul class="items">
                                {% for pref in prefs %}
                                    <li><input type="checkbox" name="prefs[]" value="{{ pref.id }}"       />{{ pref.name }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                </td>
            </tr>
        </table>

        <input class="enregistrer-modifications" type="submit" value="Enregistrer les modifications"/>
    </form>
</main>
<script src="{{url_for('static', filename='js/compte.js')}}"></script>
<script>

    function isContaining(array, elem){
        for(let i =0; i < array.length; i++){
            if(array[i] == elem){
                return true;
            }
        }
        return false;
    }

    fetch("/get_user_prefs/{{ user.id }}").then(response => response.json()).then(data => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]')
    console.log(data)
    console.log(checkboxes)
    for(let i =0; i < checkboxes.length; i++){
        if(isContaining(data, checkboxes[i].getAttribute("value"))){
            checkboxes[i].setAttribute("checked", true);
        }
    }
  })


</script>
{% endblock %}