{% include 'base.html' %}

{% block main %}

<a class="back" href="{{ url_for('admin') }}">Retour</a>

<div id="left-list" class="left-list container pull-left">
	<h2>Liste des utilisateurs</h2>
	<ul class="list-group">
		{% for a in articles %}
		<li class="list-group-item">
			<span class="nom-entreprise pull-left">{{ a.titre }}</span>
			<div class="pull-right">
				<form action="/supprimer/article/{{ a.id }}" method="post">
                    <a href="/article/{{ a.id }}" class="page">Page de l'article</a>
					<button class="blacklist-button btn btn-secondary" style="background-color: red;">Supprimer l'article</button>
				</form>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}