<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>InternKing | Le roi du stage</title>
</head>
<body>
    <header>
        <div class="content-header">
            <div class="upper-header">
                <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="logo">
                <h1 class="white-text header-title">Intern<span class="green-text">King</span></h1>
                <div class="links">
                    <a href="{{ url_for('signin') }}" class="signin header-btn">Se connecter</a>
                    <a href="{{ url_for('signup') }}" class="signup header-btn">S'inscrire</a>
                </div>
            </div>
            <div class="bottom-header">
                <h2 class="header-quote">En recherche de stage ? Vous êtes au bon endroit !</h2>
                <div class="slider-container">
                    <div class="slider">
                        <h3 class="slider-text">Des centaines d'entreprises aux alentours répertoriées !</h3>
                        <h3 class="slider-text">Une aide précieuse lors de votre recherche de stage</h3>
                        <h3 class="slider-text">Un suivi de vos avancements automatisé</h3>
                    </div>
                </div>
                <form action="">
                    <div class="input-container">
                        <input type="search" name="" id="" placeholder="Recherche par mots clés...">
                    </div>
                    <a href="/search"><button class="btn btn-large">Trouver une entreprise !</button></a>
                </form>
            </div>
        </div>
    </header>
    <div class="blog-title">
        <h1>Besoin d'aide ?</h1>
    </div>
    <div class="blog-contents">
            {% for article in articles %}
                <a href="/article/{{ article.id }}" class="article">
                    <img src={{ article.image }}>
                    <p class="article-title">{{ article.titre }}</p>
                </a>
            {% endfor %}
    </div>
    <footer class="page-footer">
        <div class="container-fluid">
            <div class="newsletter">
                <h2>Newsletter</h2>
                <p>Vous voulez être au courant de ce que nous faisons ?
                    <br>Inscrivez-vous et rejoignez notre communauté !</p>
                <form method="POST" class="inscription-newsletter">
                    <input type="text" name="email-newsletter" placeholder="Adresse email"/>
                    <input type="submit" value="S'abonner"/>
                </form>
            </div>
            <div class="a-propos">
                <h2>A propos</h2>
                <a><p>Notre équipe</p></a>
            </div>
            <div class="mentions-legales">
                <h2>Mentions légales</h2>
                <a><p>Conditions générales d'utilisation</p></a>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>