{% include 'base.html' %}
{% block main %}
<form id="filters" method="POST" action="/search/{{ numPage }}" class="search">
    <div class="search-bar">
        <img class="loupe" src="{{ url_for('static', filename='imgs/loupe.png') }}" alt="loupe" onclick="submitOnClick()">
        {% if choix["name"] == "" %}
        <input class="search-theme" name="search-theme" type="text" placeholder="Rechercher par nom"/>
        {% else %}
        <input class="search-theme" name="search-theme" type="text" placeholder="Rechercher par nom" value="{{ choix['name'] }}"/>
        {% endif %}
        <br>
        {% if choix["place"] == "" %}
        <input class="search-place" name="search-place" type="text" placeholder="Entrer un lieu"/>
        {% else %}
        <input class="search-place" name="search-place" type="text" placeholder="Entrer un lieu" value="{{ choix['place'] }}"/>
        {% endif %}
        <br>
        <p class="croix" onclick="clearShearsh()">X</p>
    </div>

    <div class="search-filter">
        <select name="filter-secteur" class="filter">
            {% if choix["activitySector"] == "0" %}
            <option value="0" class="sous-filter" selected>Secteur d'activité</option>
            {% else %}
            <option value="0" class="sous-filter">Secteur d'activité</option>
            {% endif %}
            {% if choix["activitySector"] == "1" %}
            <option value="1" class="sous-filter" selected>Secteur 1</option>
            {% else %}
            <option value="1" class="sous-filter">Secteur 1</option>
            {% endif %}
            {% if choix["activitySector"] == "2" %}
            <option value="2" class="sous-filter" selected>Secteur 2</option>
            {% else %}
            <option value="2" class="sous-filter">Secteur 2</option>
            {% endif %}
            {% if choix["activitySector"] == "3" %}
            <option value="3" class="sous-filter" selected>Secteur 3</option>
            {% else %}
            <option value="3" class="sous-filter">Secteur 3</option>
            {% endif %}
        </select>

        <select name="filter-distance" class="filter">
            {% if choix["distance"] == "0" %}
            <option value="0" class="sous-filter" selected>Distance</option>
            {% else %}
            <option value="0" class="sous-filter">Distance</option>
            {% endif %}
            {% if choix["distance"] == "10" %}
            <option value="10" class="sous-filter" selected>10 km</option>
            {% else %}
            <option value="10" class="sous-filter">10 km</option>
            {% endif %}
            {% if choix["distance"] == "30" %}
            <option value="30" class="sous-filter" selected>30 km</option>
            {% else %}
            <option value="30" class="sous-filter">30 km</option>
            {% endif %}
            {% if choix["distance"] == "50" %}
            <option value="50" class="sous-filter" selected>50 km</option>
            {% else %}
            <option value="50" class="sous-filter">50 km</option>
            {% endif %}
        </select>

        <select name="filter-taille" class="filter">
            {% if choix["size"] == "0" %}
            <option value="0" class="sous-filter" selected>Taille de l'entreprise</option>
            {% else %}
            <option value="0" class="sous-filter">Taille de l'entreprise</option>
            {% endif %}
            {% if choix["size"] == "1" %}
            <option value="1" class="sous-filter" selected>- 10 employés</option>
            {% else %}
            <option value="1" class="sous-filter">- 10 employés</option>
            {% endif %}
            {% if choix["size"] == "10" %}
            <option value="10" class="sous-filter" selected>10 - 100 employés</option>
            {% else %}
            <option value="10" class="sous-filter">10 - 100 employés</option>
            {% endif %}
            {% if choix["size"] == "100" %}
            <option value="100" class="sous-filter" selected>+ 100 employés</option> 
            {% else %}
            <option value="100" class="sous-filter">+ 100 employés</option> 
            {% endif %}
        </select>

        <input type="hidden" name="isFavoris" id="isFavoris" value="{{ choix['favories'] }}"/>
        <input type="submit" hidden/>
        
        <p name="filter_favoris" class="filter button-filter" onclick="submitFavoris()">Favoris</p>
        {% if choix["favories"] == "true" %}
        <style>
            .button-filter{
                background-color: yellow;
            }
        </style>
        {% endif %}
    </div>

{% if nb_entreprises > 0 %}
{% if nb_entreprises == 1 %}
<p class="nb-resultats">Résultat : 1 entreprise </p>
{% else %}
<p class="nb-resultats">Résultat : {{ nb_entreprises }} entreprises </p>
{% endif %}
<div class="liste-entreprise">
    {% for e in entreprises %}
    {% if not e.blacklist %}
    <div class="entreprise">
        <div class="preview">
            <h3>{{ e.nom }}</h3>
            <p>{{ e.activite }}</p>
            <p>Distance : {{ e.dist }} km</p>
        </div>
        <div class="details">
            <h3>{{ e.nom }}</h3>
            {% if e in userFavoris %}
            <img class="etoile" src="{{ url_for('static', filename='imgs/etoile_coche.png') }}" id="{{ e.id }}" alt="Étoile favori" onclick="changeImg({{ e.id }})">
            {% else %}
            <img class="etoile" src="{{ url_for('static', filename='imgs/etoile.png') }}" id="{{ e.id }}" alt="Étoile favori" onclick="changeImg({{ e.id }})">
            {% endif %}
            <p>{{ e.activite }}</p>
            <p>Taille : {{ e.taille }} employés</p>
            <p>Distance : {{ e.dist }} km</p>
            <p>Téléphone : {{ e.tel }}</p>
            <p>{{ e.adresse.voie }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p class="nb-resultats">Aucun résultat</p>
{% endif %}

{% if nb_entreprises > 2 %}
<div class="page-buttons">
{% if nbPages < 5 %}
    {% for i in range(nbPages) %}
        {% if i == numPage -1 %}
            <p class="page-button-active">{{ i+1 }}</p>
        {% else %}
            <p class="page-button" onclick="changePage({{ i+1 }})">{{ i+1 }}</p>
        {% endif %}
    {% endfor %}
{% else %}
    {% if numPage > 2 and numPage < nbPages-1 %}
        <p class="page-button" onclick="movePage('<')"><</p>
        <p class="page-button" onclick="changePage(1)">1</p>
        <p class="page-button" onclick="changePage(2)">2</p>
        <p class="page-button">...</p>
        <p class="page-button-active">{{ numPage }}</p>
        <p class="page-button">...</p>
        <p class="page-button" onclick="changePage({{ nbPages-1 }})">{{ nbPages-1 }}</p>
        <p class="page-button" onclick="changePage({{ nbPages }})">{{ nbPages }}</p>
        <p class="page-button" onclick="movePage('>')">></p>
    {% else %}    
        {% if numPage == 1 %}
        <p class="page-button-active"><</p>
        <p class="page-button-active">1</p>
        {% else %}
        <p class="page-button" onclick="movePage('<')"><</p>
        <p class="page-button" onclick="changePage(1)">1</p>
        {% endif %} 
        {% if numPage == 2 %}
        <p class="page-button-active">2</p>
        {% else %}
        <p class="page-button" onclick="changePage(2)">2</p>
        {% endif %}
        <p class="page-button">...</p>
        {% if numPage == nbPages -1 %}
        <p class="page-button-active">{{ nbPages-1 }}</p>
        {% else %}
        <p class="page-button" onclick="changePage({{ nbPages-1 }})">{{ nbPages-1 }}</p>
        {% endif %}
        {% if numPage == nbPages %}
        <p class="page-button-active">{{ nbPages }}</p>
        <p class="page-button-active">></p>
        {% else %}
        <p class="page-button" onclick="changePage({{ nbPages }})">{{ nbPages }}</p>
        <p class="page-button" onclick="movePage('>')">></p>
        {% endif %}
    {% endif %}
{% endif %}
</div>
{% endif %}

<input type="hidden" id="numPage" value="{{ numPage }}"/>
<input type="hidden" id="nbPages" value="{{ nbPages }}"/>

</form>

{% endblock %}

<script>
    function changeImg(id){
        let img = document.getElementById(id);
        if (img.src == "http://127.0.0.1:5000" + "{{ url_for('static', filename='imgs/etoile.png') }}"){
            img.src = "http://127.0.0.1:5000" + "{{ url_for('static', filename='imgs/etoile_coche.png') }}"
            fetch("/ajouter/favoris/" + "{{ userId }}" + "/" + id);
        }
        else{
            img.src = "http://127.0.0.1:5000" + "{{ url_for('static', filename='imgs/etoile.png') }}"
            fetch("/supprimer/favoris/" + "{{ userId }}" + "/" + id);
        }
    }

    function submitFavoris(){
        let form = document.getElementById("filters");
        let isFavoris = document.getElementById("isFavoris");
        
        if (isFavoris.value == "true"){
            isFavoris.value = "false";
        }
        else{
            isFavoris.value = "true";
        }
        form.submit();
    }

    function submitOnClick(){
        document.getElementById("filters").action = "http://127.0.0.1:5000/search/1";
        document.getElementById("filters").submit();
    }

    function clearShearsh(){
        document.getElementsByClassName("search-theme")[0].value = "";
        document.getElementsByClassName("search-place")[0].value = "";
    }

    function changePage(id){
        document.getElementById("filters").action = "http://127.0.0.1:5000/search/"+id;
        document.getElementById("filters").submit();
    }

    function movePage(direction){
        let numPage = parseInt(document.getElementById("numPage").value);
        let nbPages = parseInt(document.getElementById("nbPages").value);
        if (direction == "<" && numPage > 1){
            changePage(numPage -1);
        }
        else if(direction == ">" && numPage < nbPages){
            changePage(numPage +1);
        }
    }
</script>
