{% include 'base.html' %}

{% block main %}

{% if alreadyExist %}
    <p class="alert alert-warning h2">Un utilisateur utilise déjà ces informations de connexion</p>
{% endif %}


<h2>Vous êtes nouveaux/nouvelle ?</h2>
<h3>Remplissez ces champs pour vous inscrire</h3>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="530209935585-jr4r9m08amjfvqk2vq51v2h6o200411m.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<form class="champs-inscription" method="POST">
    <input type="text" name="mail" placeholder="Adresse email"/>
    <input type="password" name="password" placeholder="Mot de passe"/>
    <input type="password" name="cpassword" placeholder="Confirmer le mot de passe"/>
    <input type="text" name="name" placeholder="Prénom"/>
    <input type="text" name="surname" placeholder="Nom"/>
    <div class="rue">
        <input class="nbRue" type="text" name="numVoie" placeholder="Numéro de voie"/>
        <input class="nomRue" type="text" name="nomVoie" placeholder="Nom de la voie"/>
    </div>
    <div class="ville">
        <input class="nbVille" type="text" name="code" placeholder="Code postal"/>
        <input class="nomVille" type="text" name="city" placeholder="Ville"/>
        <select class="pays" name="country" placeholder="Pays">
            <option value="France">France</option>
            <option value="Espagne">Espagne</option>
            <option value="Italie">Italie</option>
            <option value="Allemagne">Allemagne</option>
            <option value="Belgique">Belgique</option>
        </select>
    </div>
    <div id="list1" class="dropdown-check-list preferences" tabindex="100">
        <span class="anchor">Sélectionnez des préférences</span>
            <ul class="items">
                {% for pref in prefs %}
                    <li><input type="checkbox" name="prefs[]" value="{{ pref.id }}"       />{{ pref.name }}</li>
                {% endfor %}
            </ul>
    </div>
    <input class="buttonInscription" type="submit" value="S'inscrire"/>
</form>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
<script>
    var checkList = document.getElementById('list1');
    checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
    if (checkList.classList.contains('visible'))
        checkList.classList.remove('visible');
    else
        checkList.classList.add('visible');
    }
</script>
{% endblock %}