{% include 'base.html' %}

{% block main %}
{% if wrongInfo %}
<p class="alert alert-warning h2">Aucuns utilisateurs n'a été trouvé utilisant cette adresse mail ou ce mot de passe</p>
{% endif %}

<h2>Se connecter</h2>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="530209935585-jr4r9m08amjfvqk2vq51v2h6o200411m.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<form method="POST" action="/signin" class="connection">
	<div class="logos-connection">

		    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

	</div>
	<input type="text" name="mail" placeholder="Adresse e-mail"/>
	<br>
	<input type="password" name="password" placeholder="Mot de passe"/>
	<br>
	<input class="buttonConnexion" type="submit" value="Se connecter"/>
</form>
<a href="forgotten.html" class="MdpOublie">Mot de passe oublié ?</a>
<hr>
<h2>Pas de compte ? Créer en un !</h2>
<form class="inscription button" action="{{ url_for('signup') }}">
	<input class="buttonInscription" type="submit" value="S'inscrire"/>
</form>
{% endblock %}
