{% include 'base.html' %}

{% block main %}
<main>
    <h1>Titre de l'article</h1>
        <h3>Sous-titre 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet turpis arcu, sit amet viverra lorem vehicula id. Vivamus eleifend ac 
            turpis non egestas. Curabitur ipsum massa, volutpat et odio in, efficitur consectetur tortor. Vestibulum rutrum pretium nibh eu fringilla. 
            Proin sit amet est efficitur, rhoncus urna et, dignissim augue. Maecenas ut aliquam dolor. Aliquam molestie lectus risus, commodo lobortis 
            turpis vestibulum hendrerit. Nulla dui massa, eleifend vel porttitor et, efficitur et massa. Donec odio ex, laoreet ut tellus eu, auctor 
            tempor magna. Nam pellentesque ut nulla vel rhoncus. Curabitur nulla urna, eleifend nec lobortis nec, malesuada non lorem. Duis interdum 
            molestie odio sed pretium.</p>
        
        <h3>Sous-titre 2</h3>
        <p>Fusce feugiat ex id orci vestibulum, vel rutrum odio faucibus. Curabitur tellus libero, consequat eget volutpat vel, dapibus non velit. 
            Integer bibendum blandit tortor, et congue felis ultrices et. Curabitur sit amet nibh venenatis, aliquam mauris ac, tempus mi. Vivamus 
            vestibulum neque nec quam rhoncus, ac pretium nibh fermentum. Curabitur blandit laoreet est, non convallis nunc mattis ac. Vivamus aliquet 
            enim nulla, ac viverra sapien consectetur et. Nullam id bibendum nibh, vitae vehicula nunc. Vestibulum fringilla purus nec felis vestibulum 
            commodo. Duis sapien felis, dapibus a augue non, pretium suscipit ligula. Ut nisi ex, laoreet a placerat nec, placerat vel orci. Morbi sit 
            amet aliquam nunc, eget imperdiet sapien. Nulla condimentum, massa at semper semper, erat ligula mollis ante, sit amet eleifend neque urna 
            et quam. Phasellus efficitur lorem lectus, et lacinia lacus posuere vitae. Maecenas ex dui, laoreet quis elit id, consequat dictum elit. Nam 
            ullamcorper neque ac sollicitudin iaculis.</p>
            
        <h3>Sous-titre 3</h3>
        <p>Sed consequat sem ut commodo gravida. In rhoncus non orci vitae dapibus. Mauris feugiat leo lacinia nisl dictum, non lacinia est egestas. 
            Pellentesque viverra molestie risus tincidunt accumsan. Donec egestas libero tellus. Donec vitae dui mattis, pharetra massa eu, facilisis 
            sapien. Aliquam interdum eros sapien, id egestas leo efficitur quis. Proin non mauris augue. Sed varius neque vitae felis euismod hendrerit. 
            Donec quis enim ante. Duis vel sem orci. Aenean porttitor mi a dolor ultrices viverra. Sed at tortor ac nibh varius malesuada et at ligula.</p>
    
        <p class="author">Écrit par : XXX</p>
    </main>
{% endblock %}